<section class="home_foot">
    <div class="foot_left">
        <div class="foot_img">
            <img src="https://cdn.discordapp.com/avatars/913670780548689940/4c0777f1058c8fcaaf80c9752ced0ec3.webp?size=4096" alt="" width="100px" height="100px" style="border-radius: 50px;">
        <h1>مستقبل بوت</h1>
        <h3>افضل بوت تقديم في الديسكورد</h3>
        </div>
    </div>
    <div class="foot_ul">
        <ul class="foot_ul_1">
            <h4>صفحات</h4>
            <br>
            <li><a href="/">الرئيسية</a></li>
            <li><a href="/dashboard">لوحه التحكم</a></li>
        </ul>
        <ul class="foot_ul_2">
            <h4>المطورين</h4>
            <br>
            <li><img src="https://cdn.discordapp.com/avatars/920852817382621214/00ea1ee3c6b89754ab85a4c391dc400a.webp?size=4096" width="30px" height="30px" style="border-radius: 100px;">&nbsp;<a href="https://discord.gg/zE54gK5DHy">BADR3</a></li>
        </ul>
    </div>
</section>